

#logout img{
  margin-top: 13px;
}

.bitmap_img {
  margin-top: 20px;
  margin-left: 10px;
}

.bitmap_div {
  margin-left: 10px;
  display: inline-block;
  line-height: 5px;
  margin-top: 18px;
}

.div_after_before_body {
  margin-top: 5px;
  width: 330px;
  height: 1px;
  margin-left: 10px;
  background-color: #444;
  margin-right: 10px;
}

.webkit-inline-box {
  display: -webkit-inline-box;
}

.first_p {
  color: #444;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0px;
}

.logout_div {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.second_p {
  color: #444;
  text-align: right;
  font-weight: normal;
  margin-top: 20px;
  font-size: 11px;
  font-family:OpenSans-Regular;
}

.margin-left-90 {
   margin-left: 90px;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-left-65 {
  margin-left: 65px;
}

.margin-top-10 {
  margin-top: 10px;
}


.padding-bottom-10 {
  margin-bottom: 10px;
}

.snooze_div {
  float: right;
  margin-right: 10px;
}

#inside-fatigue {
  width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  color: #FFFFFF;
  text-decoration: none;
}

.centered {
  width: 340px;
  text-align:center;
  position:relative;
  margin-top: 10px;
}
