

#bitmap {
  margin-top: 20px;
  margin-left: 130px;
}

.login-with-talkdesk {
  margin-top: 20px;
}

#text_login_talkdesk {
  margin-left: 30px;
}

.or-lef span{
  margin-left: 10px;
  font-weight: bold;
  color: #444444;
  font-size: 14px;
  text-align: center;
}

.login_talkdesk_span {
  float: right;
  margin-right: 14px;
  color: #ffffff;
}

.login_talkdesk_span {
  margin-left: 12px;
}

.input {
  margin-left: 20px;
  margin-top: 0px;
}

.input p {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

#forgot_password {
  float: right;
  margin-right: 30px;
  color: #444;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  margin-top: 1.5px;
}

#remember {
  color: #444;
  font-size: 10px;
  font-weight: bold;
  float: left;
  margin-top: 2px;
  margin-left: 5px;
}

#div_login {
  margin-top: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.width_auto {
  width: auto;
}

.div_after_input {
  margin-top: 10px;
  width: 280px;
  height: 20px;
}

#div_remember {
  float: left;
}

.color-black {
  color: black;
  margin-left: 10px;
}

.modal-header, h4, .close {
  background-color: #3ED29C;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

.width_50 {
  width: 80px;
}

#company_domain {
  width: 200px;
}

.fill_square {
  height:200px;
  padding:40px 50px;
}

.performetric-green {
  background-color: #3ED29C !important;
}

.performetric-red {
  background-color: #D95050 !important;
}

#passLabel {
  margin-top: 10px;
}
