
input {
  color: black;
}

#logout img{
  margin-top: 13px;
}

.div_after_before_body {
  margin-top: 5px;
  width: 330px;
  height: 1px;
  margin-left: 10px;
  background-color: #444;
  margin-right: 10px;
}

.webkit-inline-box {
  display: -webkit-inline-box;
}


.margin-left-90 {
   margin-left: 90px;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-left-65 {
  margin-left: 65px;
}

.margin-top-10 {
  margin-top: 10px;
}


.padding-bottom-10 {
  margin-bottom: 10px;
}

.centered {
  width: 340px;
  text-align:center;
  position:relative;
  margin-top: 10px;
}
